@import "../../app.scss";

.portfolio {
  position: relative;

  > .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: #6930c3;
    font-size: 36px;

    @include tablet {
      top: calc(100vh - 120px);
      font-size: 25px;
      z-index: 99;
    }

    > .progress-bar {
      height: 10px;
      background-color: #7400b8;
    }
  }

  .container-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      @include tablet {
        flex-direction: column;
        align-items: center;
        justify-content: start;
          position:relative;
          width: 100%;
          height: 80%;
      }
      @include mobile {
        align-items: start;
          height: 100%;
      }

      .image-container {
        flex: 1;
        height: 50%;

        @include tablet {
          width: 70%;
          max-height: 300px;
        }

        @include mobile {
          width: 100%;
          max-height: 300px;
          padding-top: 70px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        @include mobile {
          object-fit: contain;
        }
        }
      }

      .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include tablet {
          position: absolute;
          top: 70%;
          padding: 40px;
          text-align: center;
          transform: none !important;
          transform: translateY(-70%) !important;
        }
        @include mobile {
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > h4 {
          font-size: 72px;

          @include tablet {
            font-size: 60px;
          }
          @include mobile {
            font-size: 40px;
          }
        }

        > p {
          color: gray;
          font-size: 20px;

          @include tablet {
            padding: 50px;
          }

          @include mobile {
            font-size: 16px;
            padding: 0;
          }
        }

        > button {
          border: none;
          background-color: #5390d9;
          color: white;
          width: 200px;
          border-radius: 10px;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
