@import '../../app.scss';

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;

  .bg {
    position: fixed;
    z-index: 999;
    bottom: 0;
    top: 0;
    left: 0;
    width: 400px;
    background: rgba(255, 255, 255, 0.43);
    background-image: url(../../../public/bgSideBar.webp);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);

    @include tablet {
      background: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    }

    @include mobile {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .links {
      position: absolute;
      z-index: 1000;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      @include mobile {
        gap: 30px;
      }

      a {
        font-size: 40px;
        text-transform: capitalize;
        color: rgb(139, 139, 139);

        @include tablet {
          color: rgb(59, 59, 59);
        }
      }
    }
  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
