@import './assets/styles/globals.scss';

// add scroll animation and mover
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  section {
    height: 100vh;
    scroll-snap-align: center;
  }
}

// screen range
@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content
  }
}