* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// add scroll animation and mover
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  section {
    height: 100vh;
    scroll-snap-align: center;
  }
}
